<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Main Menu</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ url_for('game_bp.static', filename='styles/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('game_bp.static', filename='styles/sidebar.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>

        {% include 'tenable_ui/sidepanel.html' %}

        <div class="main">
            <div class="three-quarter-page title">
                <h1>Football Tenable</h1>
            </div>
             <div class="three-quarter-page">              
                <div class="menu-buttons curved-border" id="daily">
                    <h2>Daily Challenge</h2>
                </div>
                <div class="menu-buttons curved-border" id="others">
                    <h2>Others</h2>
                </div>
            </div>
        </div>
        <script src="{{ url_for('game_bp.static', filename='js/menu.js') }}" defer></script>
        <script src="{{ url_for('game_bp.static', filename='js/sidebar.js') }}" defer></script>
    </body>
</html>