<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Other Games</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ url_for('game_bp.static', filename='styles/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('game_bp.static', filename='styles/sidebar.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>

        {% include 'tenable_ui/sidepanel.html' %}

        <div class="main">
            <div class="categories">

                <div class="category" id="category-premier-league">
                    <div class="category-flex">
                        <div class="menu-buttons square-border category-title" id="premier-league-games">
                            <h2>Premier League</h2>
                        </div>
                        <div class="dropdown menu-buttons square-border">
                            <h2>&#9660</h2>
                        </div>
                    </div>
                    <div class="games square-border">
                        {% for game in games %}
                            <div class="game" id="game_button_{{ loop.index }}">{{ game }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="category" id="category-placeholder">
                    <div class="category-flex">
                        <div class="menu-buttons square-border category-title" id="placeholder-games">
                            <h2>Placeholder</h2>
                        </div>
                        <div class="dropdown menu-buttons square-border">
                            <h2>&#9660</h2>
                        </div>
                    </div>
                    <div class="games square-border">
                        {% for game in games %}
                            <div class="game">game</div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <script src="{{ url_for('game_bp.static', filename='js/menu.js') }}" defer></script>
        <script src="{{ url_for('game_bp.static', filename='js/sidebar.js') }}" defer></script>
        <script src="{{ url_for('game_bp.static', filename='js/other_games.js') }}" defer></script>
    </body>
</html>
